/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
    font-family: Ubuntu, sans-serif;
    font-weight: 300 !important;
}

h2 {
    letter-spacing: 0.15rem
}

h5 {
    letter-spacing: 0.10rem
}

a:hover {
    color: #FFB84D;
}

.store-logo {
    height: 45px;
}

img.telas {
    height: 300px;
    margin-left: -30px;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-bold {
    font-weight: 500 !important;
}

.icon-block .padding {
    padding-top: 57px;
}


footer.page-footer{
  padding: 20px 0;
}

footer .row {
    margin-bottom: 0;
}

p {
    line-height: 2rem;
}

.parallax-container {
    /*min-height: 380px;*/
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

#index-banner {
    height: 80%;
    background-size: cover;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.no-margin {
    margin: 0 !important; 
}

footer.page-footer {
    margin: 0;
}

footer.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.section.sticky-footer {
    margin-bottom: 50px;
}

@media only screen and (min-width: 601px) {
    #logo-container img {
        height: 44px;
        margin-top: 10px;
    }
    #down-button-container {
        height: calc(20% - 64px);
    }
    a.nav-link {
        m-size: 1.0rem;
    }
}

@media only screen and (max-width: 600px) {
    #logo-container img {
        height: 36px;
        margin-top: 10px;
    }
    #down-button-container {
        height: calc(20% - 56px);
    }
    .parallax-container {
        /*max-height: 320px !important;*/
    }
    .store-logo {
        height: 35px;
    }
    footer.page-footer{
      padding: 10px 0 4px 0;
    }
}

@media only screen and (max-height: 300px) {
    #down-button-link i {
        font-size: 0.8rem;
    }
}

@media only screen and (min-height: 301px) and (max-height: 400px) {
    #down-button-link i {
        font-size: 2.0rem;
    }
}

@media only screen and (min-height: 401px) and (max-height: 500px) {
    #down-button-link i {
        font-size: 2.5rem;
    }
}

@media only screen and (min-height: 501px) and (max-height: 600px) {
    #down-button-link i {
        font-size: 3.5rem;
    }
}

@media only screen and (min-height: 601px) {
    #down-button-link i {
        font-size: 6.4rem;
    }
}


@media only screen and (max-width: 992px) {
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}
