/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
    font-family: Ubuntu, sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

@media only screen and (min-width: 601px) {
    #logo-container img {
        height: 44px;
        margin-top: 10px;
    }
    #index-banner {
        padding-top: 64px;
    }
}

@media only screen and (max-width: 600px) {
    #logo-container img {
        height: 36px;
        margin-top: 10px;
    }
    #index-banner {
        padding-top: 56px;
    }
    i.dropdown-mobile-arrow {
        margin-top: 18px;
    }
}

@media only screen and (max-width: 992px) {
    .dropdown-content li > a {
        padding: 0 15px 0 0;
    }
}

@media only screen and (min-width: 993px) {}

li.divider {
    height: 2px;
    margin-left: 10%;
    width: 80%;
}

a:hover {
    color: #FFB84D;
}

a.nav-link {
    font-size: 1.2rem;
}

.red.99 {
    background-color: #db3328 !important;
}

.red-text.text-99 {
    color: #db3328 !important;
}

#index-banner {
    background-color: beige;
}

@media only screen and (min-width: 993px) {}

.store-logo {
    height: 45px;
}

footer.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

footer .row {
    margin-bottom: 0;
}

div.main-section {
    height: 100%;
}

div.main-section.container {
    height: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}