    <footer class="page-footer red 99{% if include.modifierClass %} {{ include.modifierClass }}{% endif %}">
        <div class="container">
            <div class="row center">
                <a onclick="trackOutboundLink('fromFooter', 'click', 'https://play.google.com/store/apps/details?id=gas99.com.br.gas99&utm_source=99gas.com&utm_medium=button&utm_campaign=footer'); return false;" href="https://play.google.com/store/apps/details?id=gas99.com.br.gas99&utm_source=99gas.com&utm_medium=button&utm_campaign=footer">
                    <img class="store-logo" src="android_store.png">
                </a>
                <!--a href="http://materializecss.com/getting-started.html" style="padding-left: 12px;">
                    <img class="store-logo" src="apple_store.svg">
                </a-->
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>

</html>