    <footer class="page-footer red 99{% if include.modifierClass %} {{ include.modifierClass }}{% endif %}">
        <div class="footer-copyright">
            <div class="container">
                <div class="row center">
                    <a href="http://materializecss.com/getting-started.html">
                        <img class="store-logo" src="android_store.png">
                    </a>
                    <a href="http://materializecss.com/getting-started.html" style="padding-left: 12px;">
                        <img class="store-logo" src="apple_store.svg">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>

</html>