<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favico/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>{{ page.title }}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Ubuntu" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>


<body>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a class="nav-link red-text text-99" href="{{page.sobre}}">Sobre Nós</a></li>
        <li class="divider red 99"></li>
        <li><a class="nav-link red-text text-99" href="{{page.como}}">Como Funciona</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a class="nav-link red-text text-99" href="{{page.sobre}}">Sobre Nós</a></li>
        <li class="divider red 99"></li>
        <li><a class="nav-link red-text text-99" href="{{page.como}}">Como Funciona</a></li>
    </ul>
    <nav class="red 99" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="LogoTransparente.png" alt="Home"></a>
            <ul class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button nav-link" href="#!" data-activates="dropdown1">99gás<i class="material-icons left left-closer">keyboard_arrow_down</i></a></li>
                <li><a class="nav-link" href="{{page.cidades}}">Cidades</a></li>
                <li><a class="nav-link" href="{{page.revenda_dashboard_url}}" target="_blank">Área da Revenda</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button-mobile nav-link red-text text-99" href="#!" data-activates="dropdown2">99gás<i class="material-icons right dropdown-mobile-arrow">keyboard_arrow_down</i></a></li>
                <li><a class="nav-link red-text text-99" href="{{page.cidades}}">Cidades</a></li>
                <li><a class="nav-link red-text text-99" href="{{page.revenda_dashboard_url}}" target="_blank">Área da Revenda</a></li>
                <li class="divider red 99"></li>
                <li><a class="nav-link red-text text-99" href="{{page.termos}}">Termos</a></li>
                <li><a class="nav-link red-text text-99" href="{{page.contato}}">Contato</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>