<html lang="en">

<head>
    <link rel="shortcut icon" href="favico/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>{{ page.title }}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Ubuntu:300,500" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74897201-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>
    <nav class="red 99 {% if include.modifierClass %} {{ include.modifierClass }}{% endif %}" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="LogoTransparente.png" alt="Home"></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="nav-link" href="{{page.sobre}}">Sobre Nós</a></li>
                <li><a class="nav-link" href="{{page.como}}">Como Funciona</a></li>
                <!--li><a class="nav-link" href="{{page.cidades}}">Cidades</a></li-->
                <!--li><a class="nav-link" href="{{page.revenda_dashboard_url}}" target="_blank">Área da Revenda</a></li-->
                <!--li><a class="nav-link" href="{{page.termos}}">Termos</a></li-->
                <li><a class="nav-link" href="{{page.contato}}">Contato</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a class="nav-link red-text text-99" href="{{page.sobre}}">Sobre Nós</a></li>
                <li><a class="nav-link red-text text-99" href="{{page.como}}">Como Funciona</a></li>
                <!--li><a class="nav-link red-text text-99" href="{{page.cidades}}">Cidades</a></li-->
                <!--li><a class="nav-link red-text text-99" href="{{page.revenda_dashboard_url}}" target="_blank">Área da Revenda</a></li-->
                <li class="divider red 99"></li>
                <!--li><a class="nav-link red-text text-99" href="{{page.termos}}">Termos</a></li-->
                <li><a class="nav-link red-text text-99" href="{{page.contato}}">Contato</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>